# Environments
.env
.env.local
.env.*.local
venv/
env/
.venv/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Node
node_modules/
.npm
npm-debug.log*

# Next.js
.next/
out/
build/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
